In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df15 = pd.read_csv('2015.csv')

In [3]:
df16 = pd.read_csv('2016.csv')

In [4]:
df17 = pd.read_csv('2017.csv')

In [5]:
df18 = pd.read_csv('2018.csv')

In [6]:
df15.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [7]:
df15 = df15.rename(columns = {'Happiness Rank': 'Rank',
                              'Happiness Score': 'Happiness_Score',
                              'Economy (GDP per Capita)': 'GDP_per_Capita',
                              'Health (Life Expectancy)': 'Life_Expectancy', 
                              'Trust (Government Corruption)':'Government_Corruption'} )

In [8]:
df15.columns

Index(['Country', 'Region', 'Rank', 'Happiness_Score', 'Standard Error',
       'GDP_per_Capita', 'Family', 'Life_Expectancy', 'Freedom',
       'Government_Corruption', 'Generosity', 'Dystopia Residual'],
      dtype='object')

In [9]:
df16.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [10]:
df16 = df16.rename(columns = {'Happiness Rank': 'Rank',
                              'Happiness Score': 'Happiness_Score',
                              'Economy (GDP per Capita)': 'GDP_per_Capita',
                              'Health (Life Expectancy)': 'Life_Expectancy', 
                              'Trust (Government Corruption)':'Government_Corruption'} )

In [11]:
df17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
df17 = df17.rename(columns = {'Happiness.Rank': 'Rank', 
                              'Happiness.Score': 'Happiness_Score',
                              'Economy..GDP.per.Capita.':'GDP_per_Capita',
                              'Health..Life.Expectancy':'Health (Life Expectancy)', 
                              'Trust..Government.Corruption.':'Government_Corruption',
                              'Health..Life.Expectancy.':'Life_Expectancy'} )

In [13]:
df18.head()

,Rank,Country,Score,GDP_Per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom_To_Make_Life_Choices,Generosity,Perceptions_Of_Corruption,Residual
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.192,0.393,2.988
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2.723
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2.779
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2.564
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2.675

In [14]:
df18 = df18.rename(columns = {'Score': 'Happiness_Score',
                              'GDP_Per_Capita':'GDP_per_Capita', 
                              'Freedom_To_Make_Life_Choices':'Freedom',
                              'Healthy_Life_Expectancy':'Life_Expectancy', 
                              'Perceptions_Of_Corruption':'Government_Corruption'} )

In [15]:
df18['Year'] = '2018'
df17['Year'] = '2017'
df16['Year'] = '2016'
df15['Year'] = '2015'

In [16]:
df = pd.concat([df15, df16, df17, df18])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [17]:
df = df[['Happiness_Score',
       'GDP_per_Capita', 'Life_Expectancy',
       'Freedom', 'Government_Corruption', 'Generosity']]

In [18]:
df.isna().sum()

Happiness_Score          0
GDP_per_Capita           0
Life_Expectancy          0
Freedom                  0
Government_Corruption    1
Generosity               0
dtype: int64

In [19]:
nans = lambda df: df[df.isnull().any(axis=1)]

In [20]:
nans(df)

,Happiness_Score,GDP_per_Capita,Life_Expectancy,Freedom,Government_Corruption,Generosity
19,6.774,2.096,0.67,0.284,NaN,0.186

In [21]:
df['Government_Corruption'] = df['Government_Corruption'].fillna(df['Government_Corruption'].median())

In [22]:
df

,Happiness_Score,GDP_per_Capita,Life_Expectancy,Freedom,Government_Corruption,Generosity
0,7.587,1.39651,0.94143,0.66557,0.41978,0.29678
1,7.561,1.30232,0.94784,0.62877,0.14145,0.43630
2,7.527,1.32548,0.87464,0.64938,0.48357,0.34139
3,7.522,1.45900,0.88521,0.66973,0.36503,0.34699
4,7.427,1.32629,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...
151,3.355,0.44200,0.34300,0.24400,0.06400,0.08300
152,3.303,0.45500,0.38100,0.48100,0.09700,0.27000
153,3.254,0.33700,0.17700,0.11200,0.10600,0.22400
154,3.083,0.02400,0.01000,0.30500,0.03800,0.21800
155,2.905,0.09100,0.14500,0.06500,0.07600,0.14900

In [23]:
df.to_csv('2015-2018_Happiness_Data')